/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

agm-map {
  height: 300px;
}

.cd-hero-slider li:first-of-type {
  background-image: url(src/assets/img/slide_01.jpg);
}

.cd-hero-slider li:nth-of-type(2) {
  background-image: url(src/assets/img/slide_02.jpg);
}

.cd-hero-slider li:nth-of-type(3) {
  background-image: url(src/assets/img/slide_03.jpg);
}


.navbar-brand .logo {
  /*background-image: url(src/assets/img/white_logo.png);*/
  content: "ğ“¢ğ“ªğ“·ğ“½ğ“®ğ“¬";
  color: red;
}

.header.active .navbar-brand .logo {
  /*background-image: url(src/assets/img/black_logo.png);*/
  content: "ğ“¢ğ“ªğ“·ğ“½ğ“®ğ“¬";
  color: chartreuse;
}


.first-service .icon {
  background-image: url(src/assets/img/first-service-main.png);
}

.first-service:hover .icon {
  background-image: url(src/assets/img/first-service-white.png);
}

.second-service .icon {
  background-image: url(src/assets/img/second-service-main.png);
}

.second-service:hover .icon {
  background-image: url(src/assets/img/second-service-white.png);
}

.third-service .icon {
  background-image: url(src/assets/img/third-service-main.png);
}

.third-service:hover .icon {
  background-image: url(src/assets/img/third-service-white.png);
}

.fourth-service .icon {
  background-image: url(src/assets/img/fourth-service-main.png);
}

.fourth-service:hover .icon {
  background-image: url(src/assets/img/fourth-service-white.png);
}

#what-we-do {
  background-image: url(src/assets/img/what-we-do-bg.png);
}

#blog {
  background-image: url(src/assets/img/blog-bg.png);
}

#contact {
  background-image: url(src/assets/img/contact-bg.png);
}

body:after {
  content: url(src/assets/img/close.png) url(src/assets/img/loading.gif) url(src/assets/img/prev.png) url(src/assets/img/next.png);
}

.lb-cancel {
  background: url(src/assets/img/loading.gif) no-repeat;
}

.lb-nav a.lb-prev {
  background: url(src/assets/img/prev.png) left 48% no-repeat;
}

.lb-nav a.lb-next {
  background: url(src/assets/img/next.png) right 48% no-repeat;
}

.lb-data .lb-close {
  background: url(src/assets/img/close.png) top right no-repeat;
}

.lightbox{
    display:none;
}

.logo {
  font-size: 50px;
}

.Address{
    color: white;
    font-size:16px;
}

/*ul.cd-hero-slider {
  height: 600px;
}
.cd-hero {
  height: 450px;
}
*/

.Logout {
  padding-top: 28px;
  font-size: 25px;
  cursor: pointer;
}

  .Logout a:hover {
    background-color:  aqua;
  }

  @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v95/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }

  .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.example-button-container {
  float: right;
  
  display: flex;
  justify-content: center;
}

.secondrowhomepage {
  margin-top: -174px;
}

.mat-form-field {
  margin-right: 8px;
}

.snackbarred {
  /*background: #2196F3;*/
  background: red;
  color: white;
}
.snackbargreen {
  /*background: #2196F3;*/
  background: green;
  color: white;
}
.snackbaryellow {
  /*background: #2196F3;*/
  background: yellow;
  color: white;
}

.headerLink{
    cursor: pointer;
}

.contactdetails {
  color: black;
  padding: 7px;
}

.contactdetails_Address {
  color: black;
  /*padding: 10px;*/
  /*color: white;*/
}

.centerSpinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.ChildPage {
  /*padding: 100px 50px 40px;*/
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 100px 50px 40px;
}


.TeamPics {
  max-width: 100%;
  max-height: 250px;
}
.TeammemberRole{
    color: orange;
}
.blogpic1 {
  height: 450px;
}

.blogpic2 {
  height: 209px;
}

body{
    background-color:white !important;
}

