
/* fallback */


.example-card {
  /*  margin: auto;
  padding: 150px 50px 40px;
  width: 400px;*/
  width: 300px;
  height: 280px;
  /*background-color: aqua;*/
  position: absolute;
  top: 0;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: auto;
}

/*.ChildPage {
  background-color: black;
}
*/

