#chart {
  /*  max-width: 380px;
  margin: 35px auto;
  padding: 0;*/
  /*height: 250px;*/
  margin: auto;
  /*width: 90%;*/
  max-height: 220px;
  padding-left: 50px;
}

.apexcharts-legend {
  top: 50px;
}
