table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

th.mat-sort-header-sorted {
  color: black;
}


.ChildPage {
  /*padding: 100px 50px 40px;*/
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 100px 50px 40px;
}



.mat-row .mat-cell {
/*  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;*/
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  color: red;
}

.demo-row-is-clicked {
  font-weight: bold;
  background-color: cadetblue;
  color: red;
}

.Filter {
    width: 200px;
}

.mat-form-field {
  width: 300px;
  padding: 15px;
}

.example-form {
/*  min-width: 150px;
  max-width: 300px;*/
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.example-full-width {
  /*width: 100%;*/
  
}
.AutopopulatedFields {
  width: 150px;
}

.costdetails {
  width: 40% !important;
  float: right;
  border: 2px solid black;
  border-radius: 8px;
}
.costdetailstable {
  border-collapse: separate;
  border-spacing: 15px;
}

.totalcharge {
  font-size: 24px;
}

.mat-fab {
  width: 110px;
  height: 70px;
}

.popupButtons{
    float:right;
}

.mat-card-actions {
  display: inline-block;
  padding: 10px;
}

.sameline {
  display: inline-block;
}

.hide{
    display:none;
}

.OutsourceDetails {
  /*border: 5px solid #969696;*/
}

.Note{
    color:red;
    font-size:9px;
}

.footerNote {
  color: red;
}


.mat-column-ReceivedDate {
  width:10%;
}

.mat-column-CompanyName {
  width: 20%;
}

.mat-column-ProductName {
  width: 15%;
}

.mat-column-Quantity {
  width: 5%;
}

.mat-column-ExpectedDeliveryDate {
  width: 10%;
}

.mat-column-ActualDeliveryDate {
  width: 10%;
}

.mat-column-CreatedBy {
  width: 10%;
}

.mat-column-CreatedDate {
  width: 5%;
}

.mat-column-ModifiedBy {
  width: 10%;
}

.mat-column-ModifiedDate {
  width: 5%;
}

.rightalign {
  float: right;
  padding-right: 50px;
}
  /**/
